
html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color-dark);
}
a {
    color: var(--color-dark);
    text-transform: capitalize;
}
img {
    display: block;
    width: 100%;
}
h1 {
    font-size: 1.8rem;
    font-weight: 800;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 0.87rem;
}
h4 {
    font-size: 0.8rem;
}
h5 {
    font-size: 0.77rem;
}
small {
    font-size: 0.75rem;
}
.profile-picture {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;

}
* {
    padding: unset;
    text-decoration: none;
    list-style: none;
    margin: unset;
    appearance: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
.hero {
    width: 100%;
    min-height: 650px;
    background: linear-gradient(to bottom right, #918e8e85 40%, #066fd194 30%, #29080886 30%), url('../images/istockphoto-1145940285-612x612.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 2.7rem;
}
.hero .search {
    width: 50%;
    padding: 1rem 2rem;
    background-color: #0000009f;
    border-radius: 20px;
    margin-top: 2rem;
}
.hero .search input {
    padding: 0.2rem 1rem;
    font-size: 1.5rem;
    color: white;
    text-indent: 2rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.d-flex {
    display: flex;
    padding: 1rem;
}
.jc-sb {
    justify-content: space-around;
}
.d-flex button:hover {
    box-shadow: unset;
}
.d-flex button {
    transition: box-shadow 300ms linear ;
    background: rgb(13, 144, 196);
    border: none;
    outline: none;
    padding: 1.5rem 1.5rem;
    width: 100%;
    border-radius: 1rem;
    color: azure;
    text-transform: capitalize;
    margin-top: 4rem;
    font-size: 1.4rem;
    box-shadow: 0 2rem 3rem rgba(94, 89, 89, 0.753);
    cursor: pointer;
}
.d-flex .jc-fe {
    justify-content: flex-end;
}

.price-card {
    width: 27%;
    background-color: white;
    border-radius: 1rem 3.5rem 0 1rem;
    padding: 0 1.2rem; 
    box-shadow: 0 2rem 3rem rgba(94, 89, 89, 0.753);
    transition: all 300ms linear ;
    margin: 2rem a;
    overflow: hidden;
}

.price-card h2{
    text-transform: capitalize;
}
.card-header {
    background: royalblue;
    padding: 1.2rem;
    text-align: center;
    color: wheat;
}

.price-card:hover {
    transform: scale(1.1);
    box-shadow: unset;
}

.card-body {
    padding: 1.2rem;
    text-transform: capitalize;
    align-items: center;
    width: 60%;
    margin: 1rem auto;
    font-size: 1.2rem;
}
.card-b {
    padding: 1.2rem;
    text-transform: capitalize;
    align-items: center;
    margin: 1rem auto;
    font-size: 1.2rem;
}
.card-body button {
    padding: 0.6rem 1.1rem;
    width: 100%;
    /* background-color: ; */
}
.ai-c {
    align-items: center;
}
.anchors {
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
    align-items: center;
}
.copyright {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: flex-end;
    align-items: center;
    color: whitesmoke;
    font-size: 1.1rem;
}
.anchors a {
    color: whitesmoke;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
}

#header {
    width: 100vw;
    padding: 1.2rem 2rem;
    background-color: #00001a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h1 {
    color: whitesmoke;
}
#nav-bar {
    margin-right: 2rem;
    padding: 0 2rem;
    background-color: #00001a;
}
#nav-bar a{
    text-transform: capitalize;
    padding: 1.6rem 1.1rem;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 300ms ease-in-out;
}
#nav-bar a:hover {
    background: rgb(2, 23, 87);
}
* {
    margin: unset;
    padding: unset;
}


footer {
    width: 100%;
    padding: 3rem 3rem 0rem 3rem;
    background-color: #00001a;
    margin-top: 3rem;
}